@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.color-red {
  color: #bd1052;
}
.color-blue {
  color: #545ffd;
}
.color-green {
  color: #019267;
}
.color-yellow {
  color: #f1ae50;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.button-solid {
  background-color: #075e54;
  border: 2px solid #075e54;
  min-width: 300px;
  padding: 0.5rem 2rem;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.button-solid:hover {
  background-color: #05423b;
}
.button-gradient {
  border: 2px solid #5e76fd;
  width: 300px;
  padding: 1rem 2rem;
  background: #1d2233;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.button-gradient:hover {
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    100deg,
    #fb2576,
    #5e76fd 50%,
    #6df1af 110%
  );
}
footer {
  background-color: #181818;
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: white;
}
